@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.section {
  &.characters {
    background: url("../../image/characters/bg_characters.png");
    background-size: cover;

    @import "../components/header.scss";

    .body-characters {
      margin: 67px 80px 0;

      .content {
        max-width: 1360px;

        .icon {
          width: 61px;
          height: 70px;
          margin-left: 337px;
        }

        h1 {
          width: 390px;
          height: auto;
          margin: 32px 0px 60px 169px;
          @include Montserrat;
          font-weight: bold;
          font-size: 64px;
          line-height: 100%;
          letter-spacing: 0.05em;
          color: #b9bcc7;
        }

        arya {
          width: 516px;
          height: 627px;
          float: right;
        }

        .text {
          z-index: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 843px;
          margin-bottom: 50px;

          .p1 {
            z-index: 0;
            max-width: 407px;
            height: auto;
          }

          .p2 {
            max-width: 406px;
            height: auto;
          }
        }
      }

      p {
        max-width: 735px;
        height: auto;
        @include Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #b9bcc7;
      }

      h3 {
        @include Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 37px;
        letter-spacing: 0.05em;
        color: #b9bcc7;
      }

      .p3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 302px;
        margin-bottom: 53px;
      }
    }
  }
}
