@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.section {
  &.facts {
    background: url("../../image/facts/bg_facts.png");
    background-size: auto 100%;

    @media (max-width: 768px) {
      background: url("../../image/facts/bg_facts.png") no-repeat;
      background-size: auto 100%;
      background-position-x: 55%;
    }
  }

  @import "../components/header.scss";

  .body-facts {
    margin: auto;
    max-width: $width-body;

    .discription {
      width: 429px;
      text-align: center;
      padding-left: 70px;
      margin: 0 auto;
      @include Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: #b9bcc7;
    }

    .achivs-menu {
      @include flex-wrap;
      justify-content: center;
      margin: 50px 0 40px;

      .achivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 23px 15px;
        width: 361px;
        height: 196px;

        p {
          @include Montserrat;
          font-weight: normal;
          font-size: 14px;
          margin-top: 17px;
          line-height: 17px;
          text-align: center;
          color: $color-text;
        }
      }

      .button {
        @include button;
        margin: auto;
        border-radius: 3px 30px 30px 3px;
        background: #04162b;
      }
    }
  }

  @import "../components/footer.scss";
}
