@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.section {
  &.general {
    background: url("../../image/1.jpg");
    background-size: cover;

    @media (max-width: 768px) {
      background: url("../../image/1.jpg") no-repeat;
      background-size: auto 100%;
      background-position-x: 70%;
    }
  }

  @import "../components/header.scss";

  .body-general {
    margin: 43px 90px 0;
    max-width: $width-body;

    .line-body {
      &:after {
        @include line;
        top: 125px;
        right: 80px;
        height: calc(100% - 255px);

        @media (max-width: 768px) {
          right: 40px;
        }

        @media (max-width: 520px) {
          content: none;
        }
      }
    }

    .text {
      @include Montserrat;
      font-weight: bold;
      font-size: 18px;
      line-height: 150.19%;
      color: $line-color;
    }

    .text-name {
      margin-top: 13px;
      width: 640px;
      height: 170px;
      @include Roboto;
      font-weight: normal;
      font-size: 72px;
      line-height: 84px;
      color: $line-color;

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }

    .text-outline {
      margin-top: 53px;
      width: 395px;
      height: 74px;
      @include Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.02em;
      color: $color-text;

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }

    .button-left {
      margin-top: 44px;
      background: transparent;
      @include button;
    }

    .button-right {
      margin: 44px 31px 0;
      background: #04162b;
      border-radius: 3px 30px 30px 3px;
      @include button;
    }

    @media (max-width: 520px) {
      margin: 50px 30px 30px;
      padding-bottom: 50px;

      .text-name {
        width: 288px;
        height: 168px;
        font-size: 48px;
        line-height: 56px;
      }
    }

    @media (max-width: 768px) {
      margin: 20px 60px 0;
    }
  }

  @import "../components/footer.scss";
}
