/* section episodes */
.section-characters {
  background: url("../image/bg_characters.png") no-repeat;
  max-width: 1440px;
  max-height: 2001px;
  background-size: cover;
}

/* section episodes "header" */
.section-characters header {
  display: flex;
  align-items: center;
  padding: 42px 80px 18px;
}

.section-characters header h1 {
  position: relative;
  width: 100%;
  margin: 0 25px;
  font-size: 36px;
  text-align: center;
  color: #feffd3;
}

.section-characters header h1::before {
  position: absolute;
  content: "";
  top: 16px;
  left: 0;
  width: calc((100% - 210px) / 2);
  opacity: 0.3;
  border: 2px solid #feffd3;
}

.section-characters header h1::after {
  position: absolute;
  content: "";
  top: 16px;
  right: 0;
  width: calc((100% - 210px) / 2);
  opacity: 0.3;
  border: 2px solid #feffd3;
}
/* section episodes "end header" */

/* section episodes "body" */
.section-characters .body {
  margin: 67px 80px 0;
}

.section-characters .body .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-characters .body .content .block-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.section-characters .body .content .block-img {
  z-index: 0;
  width: 516px;
}

.section-characters .body .content .block-text h1 {
  font-size: 64px;
  letter-spacing: 0.05em;
  color: #b9bcc7;
  margin: 32px 0 60px 0;
}

.section-characters .body .content .block-text .text-content1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.section-characters .body .content .block-text .text-content2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 843px;
}

.section-characters .body .content .block-text p {
  font-size: 14px;
  line-height: 22px;
  color: #b9bcc7;
}

.section-characters .body .content .block-text h3 {
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #b9bcc7;
}

.section-characters .body .content .block-text .p1 {
  width: 407px;
  height: 104px;
}

.section-characters .body .content .block-text .p2 {
  width: 406px;
  height: 80px;
  margin: 10px 0 0 30px;
}

.section-characters .body .content .block-text .p3 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 735px;
  height: 243px;
  margin-top: 50px;
}

.section-characters .body .content .block-text .name-p {
  margin-top: 53px;
}

.section-characters .body .content .block-text .p4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 735px;
  height: 214px;
  margin-top: 27px;
}

.section-characters .body .content .block-text .name-p1 {
  margin: 88px 0 30px 0;
}

.section-characters .body .content .block-text .p5 {
  width: 735px;
  height: 165px;
}

.section-characters .body .content .block-text .p6 {
  width: 735px;
  height: 165px;
}

.section-characters .body .content .block-text .p7 {
  width: 735px;
  height: 165px;
}

.section-characters .body .content .block-img .img2 {
  margin-top: 125px;
}

.section-characters .body .content .block-img .img3 {
  margin-top: 72px;
}
/* section episodes "end body" */