@import "helpers/variables.scss";

.section-facts {
  background: black url("../../image/bg_facts.png") no-repeat;
  max-width: 1443px;
  min-height: 794px;
  background-size: 100% calc(100% + 94px);
  background-position-y: -59px;

  @import "components/header.scss";

  .body {
    margin: 12px 80px 0;
    min-width: 1240px;

    .discription {
      width: 429px;
      text-align: center;
      padding-left: 70px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 25px;
      color: #b9bcc7;
    }

    .achivs-menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px 0 40px;

      .achivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 23px 15px;
        width: 361px;
        height: 196px;

        p {
          font-size: 14px;
          margin-top: 17px;
          line-height: 17px;
          text-align: center;
          color: $color-text;
        }
      }
    
      .button {
        width: 188px;
        height: 61px;
        margin: auto;
        border: none;
        border-radius: 3px 30px 30px 3px;
        font-size: 16px;
        line-height: 25px;
        color: $line-color;
        background: #04162b;
      }
    }
  }

  @import "components/footer.scss";
}