@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 42px 80px 18px;

  .logo {
    width: 200px;
    height: 56px;
    cursor: pointer;
  }

  .burger {
    width: 79px;
    height: 51px;
    cursor: pointer;
  }

  nav {
    width: 100%;
    padding-left: 32px;

    @media (max-width: 768px) {
      padding: 10px;
    }


    ul {
      position: relative;
      display: flex;
      padding-right: 32px;

      @media (max-width: 768px) {
        padding-right: 10px;
      }

      &::after {
        position: relative;
        top: 8px;
        height: 0px;
        width: 100%;
        opacity: 0.3;
        border: 2px solid $line-color;
        content: "";
      }

      li {
        margin-right: 50px;

        @media (max-width: 768px) {
          margin-right: 10px;
        }

        a {
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  h1 {
    position: relative;
    width: 100%;
    margin: 0 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $line-color;

    &:before {
      @include line;
      top: 21px;
      width: calc((100% - 210px) / 2);
      left: 0;
    }

    &:after {
      @include line;
      top: 21px;
      width: calc((100% - 210px) / 2);
      right: 0;
    }
  }

  @media (max-width: 768px) {
    padding: 10px 40px 10px 10px;
  }

  @media (max-width: 520px) {
    background: #221A1A;
    

    h1 {

      &:after, &:before {
        content: none;
      }
    }
  }
}
