@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

header {
    display: flex;
    align-items: center;
    padding: 42px 80px 18px;

    .logo {
        cursor: pointer;
    }
  
    h1 {
        position: relative;
        width: 100%;
        margin: 0 25px;
        font-size: 36px;
        text-align: center;
        color: $line-color;
      
        &:before {
            @include line;
            top: 21px;
            width: calc((100% - 210px) / 2);
            left: 0;
        }
    
        &:after {
            @include line;
            top: 21px;
            width: calc((100% - 210px) / 2);
            right: 0;
        }
    }
}