@import "helpers/reset.scss";
@import "fonts/fonts.scss";
@import "pages/general.scss";
@import "pages/facts.scss";
@import "pages/episodes.scss";
@import "pages/characters.scss";

body {
  .section {
    position: relative;
    max-width: 100%;
    height: 100%;
    background: black no-repeat;
  }
}
