html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
.section.general {
  background: url("../../image/1.jpg");
  background-size: cover;
}
@media (max-width: 768px) {
  .section.general {
    background: url("../../image/1.jpg") no-repeat;
    background-size: auto 100%;
    background-position-x: 70%;
  }
}
.section header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 42px 80px 18px;
}
.section header .logo {
  min-width: 200px;
  height: 56px;
  background-image: url("../../image/logo.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.section header .burger {
  width: 79px;
  height: 51px;
  cursor: pointer;
}
.section header .media-vector {
  display: none;
}
.section header nav {
  width: 100%;
  padding-left: 32px;
}
.section header nav ul {
  position: relative;
  display: flex;
  padding-right: 32px;
}
@media (max-width: 650px) {
  .section header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}
.section header nav ul::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 8px;
  height: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 660px) {
  .section header nav ul::after {
    content: none;
  }
}
.section header nav ul li {
  margin-right: 50px;
}
.section header nav ul li a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-decoration: none;
  color: white;
}
@media (max-width: 950px) {
  .section header nav ul li {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .section header nav {
    padding: 10px;
  }
  .section header nav ul {
    padding-right: 10px;
  }
  .section header nav li {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .section header nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
}
.section header h1 {
  position: relative;
  width: 100%;
  margin: 0 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #feffd3;
}
.section header h1:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  left: 0;
}
.section header h1:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  right: 0;
}
@media (max-width: 768px) {
  .section header {
    padding: 10px 40px 10px 10px;
  }
}
@media (max-width: 590px) {
  .section header h1:after, .section header h1:before {
    content: none;
  }
}
@media (max-width: 520px) {
  .section header {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: #221a1a;
  }
  .section header .burger {
    order: 1;
    max-width: 60px;
    height: 40px;
  }
  .section header nav {
    display: none;
  }
  .section header .logo {
    order: 2;
    min-width: 85px;
    background-image: url("../../image/logo_mobile.svg");
  }
  .section header h1 {
    order: 3;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .section header h1:after, .section header h1:before {
    content: none;
  }
  .section header .media-vector {
    order: 2;
    display: inline;
  }
}
.section .body-general {
  margin: 43px 90px 0;
  max-width: 1240px;
}
.section .body-general .line-body:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 125px;
  right: 80px;
  height: calc(100% - 255px);
}
@media (max-width: 768px) {
  .section .body-general .line-body:after {
    right: 40px;
  }
}
@media (max-width: 520px) {
  .section .body-general .line-body:after {
    content: none;
  }
}
.section .body-general .text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150.19%;
  color: #feffd3;
}
.section .body-general .text-name {
  margin-top: 13px;
  width: 640px;
  height: 170px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #feffd3;
}
@media (max-width: 768px) {
  .section .body-general .text-name {
    width: 100%;
    height: auto;
  }
}
.section .body-general .text-outline {
  margin-top: 53px;
  width: 395px;
  height: 74px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #b9bcc7;
}
@media (max-width: 768px) {
  .section .body-general .text-outline {
    width: 100%;
    height: auto;
  }
}
.section .body-general .button-left {
  margin-top: 44px;
  background: transparent;
  width: 188px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border: none;
  color: #feffd3;
}
.section .body-general .button-right {
  margin: 44px 31px 0;
  background: #04162b;
  border-radius: 3px 30px 30px 3px;
  width: 188px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border: none;
  color: #feffd3;
}
@media (max-width: 520px) {
  .section .body-general {
    margin: 50px 30px 30px;
    padding-bottom: 50px;
  }
  .section .body-general .text-name {
    width: 288px;
    height: 168px;
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  .section .body-general {
    margin: 20px 60px 0;
  }
}
.section footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 54px 60px;
  padding-bottom: 75px;
}
.section footer img {
  width: 127px;
  height: 38px;
}
.section footer:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 18px;
  left: 151px;
  width: calc(100% - 305px);
}
@media (max-width: 768px) {
  .section footer:before {
    width: calc(100% - 285px);
    left: 143px;
  }
}
.section footer p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #feffd3;
}
@media (max-width: 520px) {
  .section footer {
    display: none;
  }
}

.section.facts {
  background: url("../../image/facts/bg_facts.png");
  background-size: auto 100%;
}
@media (max-width: 768px) {
  .section.facts {
    background: url("../../image/facts/bg_facts.png") no-repeat;
    background-size: auto 100%;
    background-position-x: 55%;
  }
}
.section header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 42px 80px 18px;
}
.section header .logo {
  min-width: 200px;
  height: 56px;
  background-image: url("../../image/logo.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.section header .burger {
  width: 79px;
  height: 51px;
  cursor: pointer;
}
.section header .media-vector {
  display: none;
}
.section header nav {
  width: 100%;
  padding-left: 32px;
}
.section header nav ul {
  position: relative;
  display: flex;
  padding-right: 32px;
}
@media (max-width: 650px) {
  .section header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}
.section header nav ul::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 8px;
  height: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 660px) {
  .section header nav ul::after {
    content: none;
  }
}
.section header nav ul li {
  margin-right: 50px;
}
.section header nav ul li a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-decoration: none;
  color: white;
}
@media (max-width: 950px) {
  .section header nav ul li {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .section header nav {
    padding: 10px;
  }
  .section header nav ul {
    padding-right: 10px;
  }
  .section header nav li {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .section header nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
}
.section header h1 {
  position: relative;
  width: 100%;
  margin: 0 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #feffd3;
}
.section header h1:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  left: 0;
}
.section header h1:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  right: 0;
}
@media (max-width: 768px) {
  .section header {
    padding: 10px 40px 10px 10px;
  }
}
@media (max-width: 590px) {
  .section header h1:after, .section header h1:before {
    content: none;
  }
}
@media (max-width: 520px) {
  .section header {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: #221a1a;
  }
  .section header .burger {
    order: 1;
    max-width: 60px;
    height: 40px;
  }
  .section header nav {
    display: none;
  }
  .section header .logo {
    order: 2;
    min-width: 85px;
    background-image: url("../../image/logo_mobile.svg");
  }
  .section header h1 {
    order: 3;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .section header h1:after, .section header h1:before {
    content: none;
  }
  .section header .media-vector {
    order: 2;
    display: inline;
  }
}
.section .body-facts {
  margin: auto;
  max-width: 1240px;
}
.section .body-facts .discription {
  width: 429px;
  text-align: center;
  padding-left: 70px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #b9bcc7;
}
.section .body-facts .achivs-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 40px;
}
.section .body-facts .achivs-menu .achivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 23px 15px;
  width: 361px;
  height: 196px;
}
.section .body-facts .achivs-menu .achivs p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 17px;
  line-height: 17px;
  text-align: center;
  color: #b9bcc7;
}
.section .body-facts .achivs-menu .button {
  width: 188px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border: none;
  color: #feffd3;
  margin: auto;
  border-radius: 3px 30px 30px 3px;
  background: #04162b;
}
.section footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 54px 60px;
  padding-bottom: 75px;
}
.section footer img {
  width: 127px;
  height: 38px;
}
.section footer:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 18px;
  left: 151px;
  width: calc(100% - 305px);
}
@media (max-width: 768px) {
  .section footer:before {
    width: calc(100% - 285px);
    left: 143px;
  }
}
.section footer p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #feffd3;
}
@media (max-width: 520px) {
  .section footer {
    display: none;
  }
}

.section.episodes {
  background: url("../../image/episodes/bg_episodes.png");
  background-size: cover;
}
.section header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 42px 80px 18px;
}
.section header .logo {
  min-width: 200px;
  height: 56px;
  background-image: url("../../image/logo.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.section header .burger {
  width: 79px;
  height: 51px;
  cursor: pointer;
}
.section header .media-vector {
  display: none;
}
.section header nav {
  width: 100%;
  padding-left: 32px;
}
.section header nav ul {
  position: relative;
  display: flex;
  padding-right: 32px;
}
@media (max-width: 650px) {
  .section header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}
.section header nav ul::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 8px;
  height: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 660px) {
  .section header nav ul::after {
    content: none;
  }
}
.section header nav ul li {
  margin-right: 50px;
}
.section header nav ul li a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-decoration: none;
  color: white;
}
@media (max-width: 950px) {
  .section header nav ul li {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .section header nav {
    padding: 10px;
  }
  .section header nav ul {
    padding-right: 10px;
  }
  .section header nav li {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .section header nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
}
.section header h1 {
  position: relative;
  width: 100%;
  margin: 0 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #feffd3;
}
.section header h1:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  left: 0;
}
.section header h1:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  right: 0;
}
@media (max-width: 768px) {
  .section header {
    padding: 10px 40px 10px 10px;
  }
}
@media (max-width: 590px) {
  .section header h1:after, .section header h1:before {
    content: none;
  }
}
@media (max-width: 520px) {
  .section header {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: #221a1a;
  }
  .section header .burger {
    order: 1;
    max-width: 60px;
    height: 40px;
  }
  .section header nav {
    display: none;
  }
  .section header .logo {
    order: 2;
    min-width: 85px;
    background-image: url("../../image/logo_mobile.svg");
  }
  .section header h1 {
    order: 3;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .section header h1:after, .section header h1:before {
    content: none;
  }
  .section header .media-vector {
    order: 2;
    display: inline;
  }
}
.section .body-episodes {
  margin: 67px 80px 100px;
  max-width: 1240px;
}
.section .body-episodes .discription {
  text-align: center;
  width: 419px;
  height: 62px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #b9bcc7;
}
@media (max-width: 520px) {
  .section .body-episodes .discription {
    width: 100%;
  }
}
.section .body-episodes .block-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}
.section .body-episodes .block-content {
  position: relative;
  margin-left: -35px;
  max-width: 430px;
  height: 323px;
}
.section .body-episodes .block-content .block-text {
  position: absolute;
  top: 134px;
  right: 0;
  width: 305px;
  height: 106px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #b9bcc7;
}
.section .body-episodes .block-content .part {
  position: absolute;
  left: 35px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #feffd3;
}
.section .body-episodes .block-content .button {
  display: flex;
  flex-direction: row;
  margin: 37px 0 0 37px;
}
.section .body-episodes .block-content .button .button-left {
  width: 188px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border: none;
  color: #feffd3;
  background: transparent;
}
.section .body-episodes .block-content .button .button-right {
  width: 188px;
  height: 61px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border: none;
  color: #feffd3;
  margin-left: 31px;
  background: #04162b;
  border-radius: 3px 30px 30px 3px;
}
@media (max-width: 768px) {
  .section .body-episodes .block-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  .section .body-episodes {
    margin: 15px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section .body-episodes .block-flex {
    justify-content: center;
  }
}
.section footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 54px 60px;
  padding-bottom: 75px;
}
.section footer img {
  width: 127px;
  height: 38px;
}
.section footer:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 18px;
  left: 151px;
  width: calc(100% - 305px);
}
@media (max-width: 768px) {
  .section footer:before {
    width: calc(100% - 285px);
    left: 143px;
  }
}
.section footer p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #feffd3;
}
@media (max-width: 520px) {
  .section footer {
    display: none;
  }
}

.section.characters {
  background: url("../../image/characters/bg_characters.png");
  background-size: cover;
}
.section.characters header {
  display: flex;
  align-items: center;
  height: 62px;
  padding: 42px 80px 18px;
}
.section.characters header .logo {
  min-width: 200px;
  height: 56px;
  background-image: url("../../image/logo.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.section.characters header .burger {
  width: 79px;
  height: 51px;
  cursor: pointer;
}
.section.characters header .media-vector {
  display: none;
}
.section.characters header nav {
  width: 100%;
  padding-left: 32px;
}
.section.characters header nav ul {
  position: relative;
  display: flex;
  padding-right: 32px;
}
@media (max-width: 650px) {
  .section.characters header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
  }
}
.section.characters header nav ul::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 8px;
  height: 0px;
  width: 100%;
  position: relative;
}
@media (max-width: 660px) {
  .section.characters header nav ul::after {
    content: none;
  }
}
.section.characters header nav ul li {
  margin-right: 50px;
}
.section.characters header nav ul li a {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-decoration: none;
  color: white;
}
@media (max-width: 950px) {
  .section.characters header nav ul li {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .section.characters header nav {
    padding: 10px;
  }
  .section.characters header nav ul {
    padding-right: 10px;
  }
  .section.characters header nav li {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .section.characters header nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }
}
.section.characters header h1 {
  position: relative;
  width: 100%;
  margin: 0 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #feffd3;
}
.section.characters header h1:before {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  left: 0;
}
.section.characters header h1:after {
  content: "";
  position: absolute;
  opacity: 0.3;
  border: 2px solid #feffd3;
  top: 21px;
  width: calc((100% - 210px) / 2);
  right: 0;
}
@media (max-width: 768px) {
  .section.characters header {
    padding: 10px 40px 10px 10px;
  }
}
@media (max-width: 590px) {
  .section.characters header h1:after, .section.characters header h1:before {
    content: none;
  }
}
@media (max-width: 520px) {
  .section.characters header {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: #221a1a;
  }
  .section.characters header .burger {
    order: 1;
    max-width: 60px;
    height: 40px;
  }
  .section.characters header nav {
    display: none;
  }
  .section.characters header .logo {
    order: 2;
    min-width: 85px;
    background-image: url("../../image/logo_mobile.svg");
  }
  .section.characters header h1 {
    order: 3;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .section.characters header h1:after, .section.characters header h1:before {
    content: none;
  }
  .section.characters header .media-vector {
    order: 2;
    display: inline;
  }
}
.section.characters .body-characters {
  margin: 67px 40px 0;
}
.section.characters .body-characters .content1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1280px;
  padding-right: 437px;
  background-image: url("../../image/characters/image1.png");
  background-repeat: no-repeat;
  background-position-x: right;
}
.section.characters .body-characters .content1 h1 {
  max-width: 805px;
  height: auto;
  margin: 102px 0px 60px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #b9bcc7;
}
.section.characters .body-characters .content1 h1::before {
  content: "";
  position: absolute;
  top: 177px;
  left: 378px;
  width: 61px;
  height: 70px;
  background-image: url("../../image/characters/characters.png");
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content1 h1::before {
    left: 210px;
  }
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content1 h1 {
    max-width: 431px;
  }
}
@media (max-width: 780px) {
  .section.characters .body-characters .content1 h1 {
    margin-top: 20px;
  }
}
.section.characters .body-characters .content1 .block-text1 {
  display: flex;
  flex-direction: row;
  max-width: 843px;
}
.section.characters .body-characters .content1 .block-text1 .p1 {
  max-width: 407px;
  height: auto;
  margin-right: 30px;
}
.section.characters .body-characters .content1 .block-text1 .p2 {
  padding-top: 12px;
  max-width: 406px;
  height: auto;
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content1 .block-text1 {
    flex-wrap: wrap;
  }
}
.section.characters .body-characters .content1 .block-text2 {
  margin: 50px 0 53px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 735px;
  min-height: 302px;
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content1 .block-text2 {
    max-width: 1000px;
    min-height: 325px;
    margin-bottom: 40px;
  }
  .section.characters .body-characters .content1 .block-text2 .text-media1 {
    max-width: 417px;
  }
  .section.characters .body-characters .content1 .block-text2 .text-media2 {
    max-width: 935px;
  }
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content1 {
    padding-right: 120px;
  }
}
@media (max-width: 980px) {
  .section.characters .body-characters .content1 {
    padding-right: 0px;
    background-position: center;
    background-size: contain;
  }
  .section.characters .body-characters .content1 h1 {
    max-width: 100%;
  }
  .section.characters .body-characters .content1 h1::before {
    content: none;
  }
  .section.characters .body-characters .content1 .block-text1 {
    padding: 0px 48px;
    max-width: 100%;
  }
  .section.characters .body-characters .content1 .block-text1 .p1 {
    max-width: 100%;
  }
  .section.characters .body-characters .content1 .block-text1 .p2 {
    max-width: 100%;
  }
  .section.characters .body-characters .content1 .block-text2 {
    padding: 0px 48px;
  }
  .section.characters .body-characters .content1 .block-text2 .text-media1,
.section.characters .body-characters .content1 .block-text2 .text-media2 {
    max-width: 100%;
  }
}
@media (max-width: 660px) {
  .section.characters .body-characters .content1 {
    background-size: cover;
  }
  .section.characters .body-characters .content1 h1 {
    margin-bottom: 30px;
  }
  .section.characters .body-characters .content1 .block-text1, .section.characters .body-characters .content1 .block-text2 {
    padding: 0px 15px;
  }
  .section.characters .body-characters .content1 .block-text2 {
    margin-top: 20px;
  }
}
.section.characters .body-characters p {
  max-width: 735px;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #b9bcc7;
}
@media (max-width: 980px) {
  .section.characters .body-characters p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    max-width: 100%;
  }
}
.section.characters .body-characters h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #b9bcc7;
}
@media (max-width: 980px) {
  .section.characters .body-characters h3 {
    margin-top: 20px;
    text-align: center;
  }
}
.section.characters .body-characters .content2 {
  margin: 27px 0px 0px 0px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  height: 214px;
  padding-right: 437px;
  background-image: url("../../image/characters/image2.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.section.characters .body-characters .content2 .p3 {
  max-width: 735px;
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content2 .p3 {
    max-width: 417px;
  }
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content2 {
    padding-bottom: 40px;
    height: auto;
  }
}
@media (max-width: 980px) {
  .section.characters .body-characters .content2 {
    padding-right: 0px;
    background-position: center;
    background-size: contain;
  }
  .section.characters .body-characters .content2 .p3 {
    padding: 0px 70px;
    max-width: 100%;
  }
}
@media (max-width: 730px) {
  .section.characters .body-characters .content2 .p3 {
    padding: 0px 50px;
  }
}
@media (max-width: 660px) {
  .section.characters .body-characters .content2 {
    background-size: cover;
  }
  .section.characters .body-characters .content2 .p3 {
    padding: 0px 20px;
  }
}
.section.characters .body-characters .content3 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  height: auto;
  padding-right: 437px;
  background-image: url("../../image/characters/image3.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.section.characters .body-characters .content3 p {
  max-width: 735px;
  height: 214px;
}
@media (max-width: 1024px) {
  .section.characters .body-characters .content3 p {
    max-width: 417px;
    height: auto;
  }
}
@media (max-width: 980px) {
  .section.characters .body-characters .content3 {
    padding-right: 0px;
    background-position: center;
    background-size: contain;
    padding-bottom: 30px;
  }
  .section.characters .body-characters .content3 p {
    padding: 0px 50px;
    max-width: 100%;
  }
}
@media (max-width: 780px) {
  .section.characters .body-characters .content3 p {
    padding: 0px 50px;
  }
}
@media (max-width: 730px) {
  .section.characters .body-characters .content3 p {
    padding: 0px 20px;
  }
}
@media (max-width: 660px) {
  .section.characters .body-characters .content3 {
    background-size: cover;
  }
  .section.characters .body-characters .content3 p {
    padding: 0px 10px;
  }
}
@media (max-width: 980px) {
  .section.characters .body-characters {
    margin: 30px 130px;
  }
}
@media (max-width: 780px) {
  .section.characters .body-characters {
    margin: 30px 50px;
  }
}

body .section {
  position: relative;
  max-width: 100%;
  height: 100%;
  background: black no-repeat;
}

/*# sourceMappingURL=index.css.map */
