@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.section {

  &.episodes {
    background: url("../../image/episodes/bg_episodes.png");
    background-size: cover;
  }

  @import "../components/header.scss";

  .body-episodes {
    margin: 67px 80px 100px;
    max-width: 1240px;

    .discription {
      width: 419px;
      height: 62px;
      font-size: 16px;
      line-height: 25px;
      align-items: center;
      letter-spacing: 0.02em;
      color: $color-text;
    }

    .block-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 25px;
    }

    .block-content {
      position: relative;
      margin-left: -35px;
      max-width: 430px;
      height: 323px;

      .block-text {
        position: absolute;
        top: 134px;
        right: 0;
        width: 305px;
        height: 106px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $color-text;
      }

      .part {
        position: absolute;
        left: 35px;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: $line-color;
      }

      .button {
        display: flex;
        flex-direction: row;
        margin: 37px 0 0 37px;

        .button-left {
          @include button;
          color: $color-text;
          background: transparent;
        }

        .button-right {
          @include button;
          margin-left: 31px;
          background: #04162b;
          border-radius: 3px 30px 30px 3px;
        }
      }
    }
  }

  @import "../components/footer.scss";
}
