@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.section {
  &.facts {
    background: url("../../image/facts/bg_facts.png");
    background-size: 100% calc(100% + 94px);
    background-position-y: -59px;
  }

  @import "../components/header.scss";

  .body {
    margin: 12px 0 0;
    max-width: 1240px;

    .discription {
      width: 429px;
      text-align: center;
      padding-left: 70px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 25px;
      color: #b9bcc7;
    }

    .achivs-menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px 0 40px;

      .achivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 23px 15px;
        width: 361px;
        height: 196px;

        p {
          font-size: 14px;
          margin-top: 17px;
          line-height: 17px;
          text-align: center;
          color: $color-text;
        }
      }

      .button {
        @include button;
        margin: auto;
        border-radius: 3px 30px 30px 3px;
        line-height: 25px;
        color: $line-color;
        background: #04162b;
      }
    }
  }

  @import "../components/footer.scss";
}
